<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/layouts/base.css">
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/includes/navbar.css">
    {% block addon_css %}{% endblock addon_css %}
    {% block addon_head %}{% endblock addon_head %}
    

</head>

<body>

    {% include "includes/success_alert.html" %}

    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    
    {% include "includes/navbar.html" %}

    {% block body %}{% endblock body%}


    <section class="footer-section">
        <div class="max-width">
    
          <div class="footer-logo">
            <img src="{{ ASSETS_ROOT }}/images/logo.png" alt="vibranta">
          </div>
          <div class="social-media">
            <img src="{{ ASSETS_ROOT }}/images/linkedin.png" alt="linkedin"><img src="{{ ASSETS_ROOT }}/images/instagram.png" alt="instagram"><img src="{{ ASSETS_ROOT }}/images/twitter.png" alt="twitter"><img src="{{ ASSETS_ROOT }}/images/whatsapp.png" alt="whatsapp">
          </div>
        </div>
        <div class="bottom">
          <p>Copyright © 2025 Student Organization Vibranta. All right reserved.</p>
        </div>
      </section>




    {% block addon_js %}{% endblock addon_js %}

</body>

</html>